@page "/Dashboard"
@namespace OnlinePortfolio.Pages
@inject IAppInfoService AppInfoService;
@using AboutMe.Data;
@using AboutMe.Services;
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <p></p>
                <!-- Fetch AppInfo.Bio and use it as the default value in a TextInput -->
                <div class="boxDash">
                    <p id="dashboard"><b>Dashboard</b> <a href="">Home</a></p>
                    <p></p>
                    @if (applicationInfo == null)
                    {
                        <div id="html-spinner"></div>
                    }
                    else
                    {
                    <p>Biography</p>
                    <textarea id="bioInput" @bind="@applicationInfo.Bio"></textarea>
                     <hr>
                     <p>GitHub Projects</p>
                     <label for="text">GitHub Username</label>
                    <input class="textStandard" type="text" @bind="@applicationInfo.GithubName" />
                     <br>
                     <label for="password">GitHub Credentials</label>
                    <input class="textStandard" type="password" @bind="@applicationInfo.GithubCred" />
                    <hr>
                    <p>Link Buttons</p>
                    @foreach (var button in buttons)
                    {
                        <div class="buttonEdit">
                            <span>
                            <input class="buttonName" type="text" @bind="button.ButtonText" />
                            <input class="buttonUrl" type="text" @bind="button.ButtonUrl" />
                                <input type="color" class="buttonColour" @bind="button.ButtonColourHex">
                                <button type="button" @onclick="() => ButtonDelete(button)" class="buttonDelete">Delete</button>
                            </span>
                        </div>
                    }
                    <div class="buttonAddEdit">
                        <span>
                         <nobr>+</nobr>
                         <input class="buttonName" type="text" @bind="newButtInfo.ButtonText" placeholder="Link Name" />
                         <input class="buttonUrl" @bind="newButtInfo.ButtonUrl" type="text" placeholder="URL" />
                         <input type="color" @bind="newButtInfo.ButtonColourHex" class="buttonColour">
                         <button type="button" @onclick="ButtonAdd" class="buttonAdd">Add</button>
                        </span>
                    </div>
                    <hr>
                     <button type="submit" @onclick="UpdateBio" class= "buttonSave">Save</button>
                    }
                </div>
            </Authorized>
        <NotAuthorized>
            <div class="title"><h5>You must be an admin to view the dashboard.</h5></div>
        </NotAuthorized>
        </AuthorizeView>

    @code {
        private ApplicationInfo applicationInfo;
        private List<ButtonInfo> buttons;

        private ButtonInfo newButtInfo = new ButtonInfo();

        protected override async Task OnInitializedAsync()
        {
            // Fetch AppInfo data including Bio
            applicationInfo = await AppInfoService.GetAppInfoAsync();
            buttons = applicationInfo.Buttons;
        }

        private void ButtonDelete(ButtonInfo buttonToDelete)
        {
            buttons.Remove(buttonToDelete);
        }

        private void ButtonAdd()
        {
            buttons.Add(newButtInfo);
        }

        private async Task UpdateBio()
        {
            // Handle the form submission logic
            await AppInfoService.UpdateAppInfoAsync(applicationInfo);
            await AppInfoService.UpdateButtonsAsync(buttons);
        }

    }
</CascadingAuthenticationState>
